.project-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 6rem;
}
.show-cards h1 {
	font-size: clamp(1rem, 5vw, 1.5rem);
	color: var(--accent);
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.show-cards {
	width: 90%;
	display: grid;
	grid-template-columns: repeat(auto-fit, 1fr);
	justify-content: center;
	place-items: center;
	gap: 1rem;
}
