.contact-container {
	width: 100%;
	min-height: 100dvh;
	color: var(--white);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 6rem;
}
.contact-container h1 {
	font-size: clamp(1rem, 5vw, 1.5rem);
	color: var(--accent);
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.contact-container p {
	text-align: center;
	font-size: 14px;
	letter-spacing: 0.5px;
	line-height: 1.7;
	margin: 1rem 0;
}
.contact-container form {
	width: 90%;
	padding: 1rem;
	border-radius: 1rem;
	border: 1px solid var(--border);
}
.contact-container form label {
	font-size: clamp(0.7rem, 5vw, 0.8rem);
	color: var(--accent);
	font-weight: 300;
	text-transform: capitalize;
	letter-spacing: 1.2px;
}
.contact-container form input,
.contact-container textarea {
	font-size: 0.8rem;
	width: 100%;
	padding: 0.5rem;
	outline: none;
	resize: none;
	color: var(--white);
	background-color: transparent;
	border: 1px solid var(--border);
	border-radius: 0.5rem;
	margin-bottom: 1rem;
}
.contact-container form input:focus {
	outline: none;
	border: 1px solid var(--accent);
}
.contact-container form textarea:focus {
	outline: none;
	border: 1px solid var(--accent);
}
.contact-container form button {
	width: 100%;
	border: none;
	outline: none;
	padding: 0.5rem 0;
	border-radius: 0.5rem;
	letter-spacing: 1.2px;
	color: var(--accent);
	background-color: var(--bg-layer-two);
	cursor: pointer;
	font-size: 0.8rem;
}
.contact-container h3 {
	font-size: clamp(0.8rem, 5vw, 1rem);
	color: var(--accent);
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 1rem 0 0.5rem 0rem;
	text-shadow: 0px 0rem 1rem var(--accent);
}
.social {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-bottom: 1rem;
}
.social button {
	width: 35px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	border: none;
	outline: none;
	background-color: transparent;
	color: var(--accent);
	padding: 5px;
}
@media screen and (max-width: 500px) {
	.social {
		width: 100%;
	}
}
