.home-container {
	width: 100%;
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 6rem;
	gap: 2rem;
}
.hero {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
.hero .title {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--white);
}
.hero span {
	color: var(--accent);
}
.hero h1 {
	font-size: clamp(1.3rem, 5vw, 1.5rem);
	letter-spacing: 1px;
}
.hero h2 {
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 1px;
}
.hero p {
	width: 80%;
	text-align: center;
	font-size: 14px;
	letter-spacing: 0.5px;
	line-height: 1.7;
	margin: 1rem 0;
}

.hero video {
	width: 90%;
	border-radius: 1rem;
	border: 1px solid var(--border);
}
/* card style section */
.card-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
.card-show {
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--white);
	gap: 1rem;
}
.card-show p {
	text-align: center;
	font-size: 14px;
	letter-spacing: 0.5px;
	line-height: 1.7;
	margin: 1rem 0;
}
.home-card {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	border: 1px solid var(--border);
	border-radius: 1rem;
}
.card-title {
	display: flex;
	align-items: center;
	gap: 10px;
}
.card-title h3 {
	font-size: clamp(0.9rem, 5vw, 1rem);
	font-weight: 500;
	letter-spacing: 1px;
	color: var(--accent);
}

.card-title span {
	font-size: clamp(1rem, 5vw, 1.5rem);
}

/* Project Card Style Section */
.project-cards {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.project-img {
	width: 90%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	justify-items: center;
	gap: 1rem;
}
.project-img video {
	width: 90%;
	aspect-ratio: 1/1;
	min-width: 250px;
	object-fit: cover;
	object-position: center;
	border-radius: 1rem;
}
.project-cards h1 {
	font-size: clamp(1rem, 5vw, 1.5rem);
	color: var(--accent);
	font-weight: 500;
	margin-bottom: 1rem;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.project-cards button {
	padding: 1rem;
	border: none;
	outline: none;
	background-color: var(--accent);
	font-size: clamp(12px, 2vw, 13px);
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
	border-radius: 1rem;
	margin: 1.5rem;
	cursor: pointer;
}
@media screen and (max-width: 640px) {
	.card-show {
		flex-direction: column;
	}
}
