.card {
  width: 100%;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0rem;
}
.card video {
  width: 100%;
  border-radius: 0.5rem;
}
.card .details {
  width: 100%;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: var(--bg-layer-one);
}
.details h1 {
  font-size: clamp(0.9rem, 5vw, 1.2rem);
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--accent);
}
.details p {
  width: 90%;
  text-align: left;
  max-height: 70px;
  overflow-y: scroll;
  font-size: clamp(0.7rem, 5vw, 0.9rem);
  letter-spacing: 0.5px;
  text-transform: capitalize;
  line-height: 1.6;
  color: var(--white);
  margin: 1rem 0;
}
.details p::-webkit-scrollbar {
  display: none;
}
.details .highlight {
  margin: 1rem 0;
  text-transform: uppercase;
}
.highlight label {
  font-size: 12px;
  letter-spacing: 1.5px;
  border-radius: 10px;
  font-weight: 500;
  color: var(--accent);
  background-color: var(--accent-layer-one);
  padding: 5px 10px;
}
.details .action {
  width: fit-content;
  display: flex;
  gap: 10px;
  margin: 1rem 0;
}
.action button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  color: var(--accent);
  background-color: var(--accent-layer-one);
  outline: none;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
@media screen and (max-width: 640px) {
  .card video {
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}
