header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;

	z-index: 999;
}
nav {
	width: 100%;
	max-height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 10px;
}
nav .logo {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
nav .logo svg {
	position: relative;
	width: 40px;
	z-index: 1;
	scale: 0;
	animation: logo 1s ease-in-out forwards;
	animation-delay: 5s;
}
nav .logo svg path {
	fill: var(--white);
	stroke-width: 10;
	stroke: var(--bg);
	animation: logoColor 1s ease-in-out forwards;
	animation-delay: 5.5s;
}
nav .logo h2 {
	position: absolute;
	font-family: "Densmore";
	-webkit-text-stroke: 0.5px var(--bg);
	color: var(--accent);
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 22px;
	font-weight: 100;
	z-index: -1;
	animation: name 5s ease-in-out forwards;
}
nav .logo::before {
	content: "";
	width: 0px;
	height: 110%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	z-index: 10;
	background-color: var(--accent);
	animation: blackBar 1s;
	animation-delay: 6s;
}
nav .logo::after {
	content: "";
	width: 0px;
	height: 110%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	z-index: 10;
	background-color: var(--accent);
	animation: blackBar 1s;
	animation-delay: 6s;
}
nav ul {
	list-style: none;
	display: flex;
	gap: 30px;
}
a {
	font-size: clamp(11px, 3vw, 12px);
	letter-spacing: 1.5px;
	font-weight: 200;
	text-decoration: none;
	color: var(--white);
	cursor: pointer;
	text-transform: uppercase;
}
a.active {
	font-weight: 500;
	color: var(--accent);
	border-bottom: 2px solid var(--accent);
}

@keyframes blackBar {
	0% {
		width: 0px;
	}
	50% {
		width: 30px;
	}
	100% {
		width: 0px;
	}
}
@keyframes name {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	90% {
		opacity: 1;
		scale: 1;
	}
	100% {
		opacity: 1;
		scale: 0;
	}
}
@keyframes logo {
	0% {
		scale: 0;
		opacity: 0;
		fill: var(--white);
	}
	70% {
		scale: 1;
		opacity: 1;
		fill: var(--white);
	}
	90% {
		fill: var(--accent);
	}
	100% {
		scale: 1;
		opacity: 1;
		fill: var(--accent);
	}
}
@keyframes logoColor {
	0% {
		fill: var(--white);
	}
	70% {
		fill: var(--white);
	}
	90% {
		fill: var(--accent);
	}
	100% {
		fill: var(--accent);
	}
}

@media screen and (max-width: 700px) {
	nav {
		width: 90%;
		max-height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 10px;
	}
	nav .logo {
		width: 30px;
	}
	nav .logo h2 {
		font-size: 20px;
	}
	nav ul {
		margin-top: 20px;
		gap: 20px;
	}
}
