.project-container {
	width: 100%;
	min-height: 100dvh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.show-cards{
	width: 90%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	justify-content: center;
	place-items: center;
	gap: 20px;
}