@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import 'tailwindcss';
* {
	font-family: 'Poppins', sans-serif;
	list-style: none;
}
:root {
	--bg: #030712;
	--bg-layer-one: #0f172b;
	--bg-layer-two: #1d293d;
	--border: #1d293d;
	--accent: #00c951;
	--accent-layer-one: #00c95028;
	--white: #fff;
	--black: #000;
}

.app-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--bg);
}
.container {
	width: 90%;
	background-color: var(--bg);
	border-left: 1px solid var(--border);
	border-right: 1px solid var(--border);
}
